$bgcolor: rgb(109, 80, 133);
$headercolor: #02341a;
$color: #c0c0d2;


*{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
   user-select: none;
}

.maincontainer {
  // position: absolute;
  // top: 100px;
  // display: flex;
  margin: 100px auto 20px auto;
}

.mycard_img{
 height: 250px;
 object-fit: contain;
}

.card-text{
  height: 250px;
  overflow: scroll;
}



