$bgcolor: rgb(109, 80, 133);
$headercolor: #02341a;
$snow: #F2F2F2;



*{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
   user-select: none;
}


.maincontainer {
  display: flex;
  margin: 100px auto 90px auto;
}


.dropdown{
  list-style: none;
}


.navbar-brand {
  padding-left: 1rem;
  transition: all ease-out 0.3s;

}

.navbar-brand:hover{
  color: lightgrey !important;
}


.nav-it{
  margin-right: 100px;
  float: right;
}



.mycard_img{
 height: 250px;
 object-fit: contain;
}

.card-text{
  height: 250px;
  overflow: scroll;
}

.info{
  margin: 0 auto;
}




